# terraform.tfvars 로 복사 후 값 입력 (terraform.tfvars 는 gitignore 권장)

project_name       = "puppytalk"
region             = "ap-northeast-2"
domain_name        = "puppytalk.shop"

db_master_password = ""

# Terraform: AWS CLI와 동일하게 셸에 export (AK/SK/SESSION_TOKEN). tfvars에 넣지 않음.
